<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Days Since a Data Loss Accident</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen">
  </head>
  <body>
    <h1>Days Since a Data Loss Accident</h1>
    <h2><%= @days %></h2>
  </body>
</html>
