<h1>Days Since a Data Loss Accident for <%= "@#{@incident.twitter_id}" %></h1>
<h2><%= @incident.days %></h2>

<% if signed_in? %>
  <p><%= button_to "Reset my counter.", new_incident_path %></p>
<% end %>
